
<!-- <div class="addchannel"> -->
  <div class="addchanel3">
<h1 class="addchannel4">Channel Name</h1>

<div class="addchannel5">
<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <div class="nameform">
    <%= f.label :Name %>
    </div>
    <div class="fieldform">
     <%= f.text_field :title, autofocus: true, class: 'form' %>
    </div>
  </div>
  <div class="addform">
  <%= f.submit "Submit", class: 'addchannel6' %>
  </div>
  </div>
<% end %>
</div>
</div>
<div class="anythink">
  <p>I am honest because I stay with my girl for almost more than 6 years.
I am in peace because I never fight with anybody unless I do not have a choice.
I am balanced with my life doing something I need to do.
I am confidence something I feel I went off the road but still I stick with that plan.
Sometimes I help butanes community to fill out the paperwork when they need.
I am not super active but then also, some point that is going to work for me and make sense.
I am always cleared of what I need to do and what I don’t.
I always know what my capacity is and what I could do are.
I am a simple and ordinary person.

I am honest because I stay with my girl for almost more than 6 years.
I am in peace because I never fight with anybody unless I do not have a choice.
I am balanced with my life doing something I need to do.
I am confidence something I feel I went off the road but still I stick with that plan.
Sometimes I help butanes community to fill out the paperwork when they need.
I am not super active but then also, some point that is going to work for me and make sense.
I am always cleared of what I need to do and what I don’t.
I always know what my capacity is and what I could do are.
I am a simple and ordinary person.

I am honest because I stay with my girl for almost more than 6 years.
I am in peace because I never fight with anybody unless I do not have a choice.
I am balanced with my life doing something I need to do.I am balanced with my life doing something I need to do.

 </p>
</div>
